@import 'components/variables';

.news__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.news__item {
    width: 30%;
    min-height: 400px;
    padding: 15px;
    margin-right: 15px;
    border-radius: 2px;
    border: 1px solid black;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $font-default;
    .loaded & {
        transition: box-shadow $dur $ease;
    }
    &:hover {
        box-shadow: 0px 0px 12px 0px rgba($black, 0.45);
    }
    @media only screen and (max-width: 1024px) {
        width: 49%;
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
    }
}

.news__item-title {
    margin-bottom: 15px;
}

.news__item-image {
    min-height: 230px;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}

.news__item-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.news__item-desc {
    margin-bottom: 15px;
}

.news__title {
    font-family: $font-default;
}

.news__item-link {
    font-family: $font-default;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: $black;
    margin-right: auto;
    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $black;
        transition: width $dur $ease;
    }
    &:hover {
        &::before {
            width: 100%;
        }
    }
}
