@import 'components/variables';

.news__item {
    width: 30%;
    min-height: 400px;
    padding: 15px;
    border-radius: 2px;
    border: 1px solid black;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .loaded & {
        transition: box-shadow $dur $ease;
    }
    &:hover {
        box-shadow: 0px 0px 12px 0px rgba($black, 0.45);
    }
    @media only screen and (max-width: 1024px) {
        width: 49%;
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
    }
}

.news__item-image {
    min-height: 230px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.news__item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}