@import 'components/variables';

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba($black, 0.4);
}

.popup__wrap {
    position: relative;
    width: 50%;
    min-height: 70%;
    padding: 40px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: $white;
    font-family: $font-default;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media only screen and (max-width: 767px) {
        width: 95%;
        min-width: 90%;
    }
}

.popup__image {
    position: relative;
    max-height: 500px;
    overflow: hidden;
    width: 100%;
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('https://via.placeholder.com/150/0000FF/808080?Text=PLACEHOLDER.com');
}
