@import 'components/variables';

.search {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    h2 {
        margin-bottom: 35px;
        font-family: $font-default;
    }
}

.search-input__wrap {
    display: flex;
    max-width: 500px;
    justify-content: center;
    margin: 0 auto;
}

.search__input {
    display: block;
    border: 1px solid $black;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 14px;
    font-family: $font-default;
}

.filtered__news {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    font-size: 14px;
    font-family: $font-default;
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid $black;
    transition: transform $dur $ease;
    cursor: pointer;
    margin-right: auto;
    &:hover {
        background-color: $mildGreen;
    }
}
